<div class="px-4 py-5 px-md-5 text-center text-lg-start bg-body-tertiary h-100">
    <div class="container mt-5">
        <div class="row align-items-center text-left ">
          <div class="col-6">
               <img src="assets/img/interrapidisimo_logo.jpg" class="img-logo" alt="imagen interrapisimo">
              <h2 class="mt-2 mb-2">
                  Prueba Técnica 
              </h2>
          </div>
          <div class="col-6">
            <div class="card">
                <div class="card-body p-5">
                   <ul class="nav nav-pills nav-justified mb-3">
                    <li class="nav-item pe-2" role="presentation">
                        <a class="nav-link active" href="javascript:void(0)" data-bs-toggle="tab" data-bs-target="#pills-login" aria-selected="true">Ingresar</a>
                    </li>
                    <li class="nav-item ps-2" role="presentation">
                        <a class="nav-link" href="javascript:void(0)" data-bs-toggle="tab" data-bs-target="#pills-register" aria-controls="pills-login" aria-selected="true">Registrar</a>
                    </li>
                   </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                            <div class="pt-5">
                                <form [formGroup]="loginForm">
                                    <div class="mb-3">
                                      <label for="correo-electronico" class="form-label">Correo Electrónico</label>
                                      <input type="email" class="form-control i-cust" formControlName="usuario" id="correo-electronico" placeholder="Correo Electrónico" aria-describedby="correo"
                                      [class]="{'border-danger': loginForm.get('usuario')?.touched && loginForm.get('usuario')?.invalid }">
                                      <div *ngIf="loginForm.get('usuario')?.touched && loginForm.get('usuario')?.invalid">
                                            <small *ngIf="loginForm.get('usuario')?.errors?.['required']"
                                                class="text-danger mt-1">Usuario es obligatorio.</small>
                                        </div> 
                                    </div>
                                    <div class="mb-3">
                                      <label for="contrasena" class="form-label">Contraseña</label>
                                      <input type="password" class="form-control i-cust" formControlName="contrasena" id="contrasena" placeholder="Contraseña"
                                      [class]="{'border-danger': loginForm.get('usuario')?.touched && loginForm.get('usuario')?.invalid }">
                                      <div *ngIf="loginForm.get('contrasena')?.touched && loginForm.get('contrasena')?.invalid">
                                        <small *ngIf="loginForm.get('contrasena')?.errors?.['required']"
                                            class="text-danger mt-1">Contraseña es obligatorio.</small>
                                    </div> 
                                    </div>
                                    <div class="mt-4 text-center">
                                        <button type="button" class="btn btn-primary mt-4 b-cust" (click)="ingresar()">Iniciar Sesión</button>
                                    </div>
                                    <div class="mt-3 text-center">
                                        <span>¿No estas registrado? <a class="l-cust" href="javascript:void(0)" data-bs-toggle="tab" data-bs-target="#pills-register">registrate aquí</a></span>
                                    </div>
                                    <div class="mt-5 text-center">
                                        <div class="text-center">
                                            <span>O registrate por:</span>
                                        </div>
                                        <a href="https://www.facebook.com/?locale=es_LA" target="_blank" class="btn btn-link btn-floating mx-1" data-mdb-button-initialized="true">
                                            <i class="fab fa-facebook-f icon-cust"></i>
                                        </a>
                                        <a href="https://accounts.google.com/v3/signin/identifier?continue=https%3A%2F%2Fwww.google.com%2Fsearch%3Fq%3Dgmail%26rlz%3D1C5CHFA_enCO980CO980%26oq%3Dgmail%26gs_lcrp%3DEgZjaHJvbWUyBggAEEUYOTIHCAEQABiPAjIHCAIQABiPAjIGCAMQRRg9MgYIBBBFGD0yBggFEEUYPTIGCAYQRRhBMgYIBxBFGEHSAQc5OTlqMGoxqAIAsAIB%26sourceid%3Dchrome%26ie%3DUTF-8%26sei%3D4AiUaNqYB6SGwbkP7MaQ8QI&ec=GAZAAQ&hl=es-419&ifkv=AdBytiNP9XXssB0ZJmoeydrYJV68vrYLTpHsrr9OGF2GdjT9EX0WwgaDV4clNHVT0fGGnrQ55X44jQ&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&dsh=S908545727%3A1754532066356640" target="_blank" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link btn-floating mx-1" data-mdb-button-initialized="true" aria-pressed="true">
                                            <i class="fab fa-google icon-cust"></i>
                                        </a>
                                        <a href="https://x.com/i/flow/login" target="_blank" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link btn-floating mx-1" data-mdb-button-initialized="true" aria-pressed="true">
                                            <i class="fa-brands fa-x-twitter icon-cust"></i>
                                        </a>
                                        <a href="https://github.com/login" target="_blank" data-mdb-button-init="" data-mdb-ripple-init="" class="btn btn-link btn-floating mx-1" data-mdb-button-initialized="true" aria-pressed="true">
                                            <i class="fab fa-github icon-cust"></i>
                                        </a>
                                    </div>
                                  </form>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-register" role="tabregister" aria-labelledby="tab-register">
                            <div class="pt-5">
                                <form [formGroup]="registroForm" class="row">
                                    <div class="mb-3">
                                        <label for="identificacion" class="form-label">Identificación</label>
                                        <input type="text" formControlName="identificacion" class="form-control i-cust" id="identificacion" placeholder="Identificación"
                                        [class]="{'border-danger': registroForm.get('identificacion')?.touched && registroForm.get('identificacion')?.invalid }">
                                        <div *ngIf="registroForm.get('identificacion')?.touched && registroForm.get('identificacion')?.invalid">
                                            <small *ngIf="registroForm.get('identificacion')?.errors?.['required']"
                                                class="text-danger mt-1">identificación es obligatorio.</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">Nombre</label>
                                        <input type="text" formControlName="nombre" class="form-control i-cust" id="nombre" placeholder="Nombre" aria-describedby="nombre"
                                        [class]="{'border-danger': registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid }">
                                        <div *ngIf="registroForm.get('nombre')?.touched && registroForm.get('nombre')?.invalid">
                                            <small *ngIf="registroForm.get('nombre')?.errors?.['required']"
                                                class="text-danger mt-1">Nombre es obligatorio.</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="apellido" class="form-label">Apellido</label>
                                        <input type="text" formControlName="apellido" class="form-control i-cust" id="apellido" placeholder="Apellido" 
                                        [class]="{'border-danger': registroForm.get('apellido')?.touched && registroForm.get('apellido')?.invalid }">
                                        <div *ngIf="registroForm.get('apellido')?.touched && registroForm.get('nombre')?.invalid">
                                            <small *ngIf="registroForm.get('apellido')?.errors?.['required']"
                                                class="text-danger mt-1">Apellido es obligatorio.</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="contrasena-r" class="form-label">Contraseña</label>
                                        <div class="input-group mb-3">
                                            <input [type]="hide() ? 'text' : 'password'" formControlName="contrasena" class="form-control" placeholder="Contraseña" aria-label="contrasena" aria-describedby="contrasena"
                                            [class]="{'border-danger': registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.invalid }">
                                            <button class="btn btn-outline-secondary i-cust" type="button" id="button-addon2"  (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                                <i [ngClass]="hide() ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                                            </button>
                                        </div>
                                        <div *ngIf="registroForm.get('contrasena')?.touched && registroForm.get('contrasena')?.invalid">
                                            <small *ngIf="registroForm.get('contrasena')?.errors?.['required']"
                                                class="text-danger mt-1">contraseña es obligatorio.</small>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="contrasena-repeat" class="form-label">Repetir Contraseña</label>
                                        <div class="input-group mb-3">
                                            <input [type]="hide() ? 'text' : 'password'" formControlName="repetirContrasena" id="contrasena-repeat" class="form-control" placeholder="Contraseña" aria-label="Recipient's username" aria-describedby="button-addon2"
                                            [class]="{'border-danger': registroForm.get('repetirContrasena')?.touched && registroForm.get('repetirContrasena')?.invalid }">
                                            <button class="btn btn-outline-secondary i-cust" type="button" id="button-addon2"  (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                                                <i [ngClass]="hide() ? 'fa-solid fa-eye-slash' : 'fa-solid fa-eye'"></i>
                                            </button>
                                        </div>
                                        <div *ngIf="registroForm.get('repetirContrasena')?.touched && registroForm.get('repetirContrasena')?.invalid">
                                            <small *ngIf="registroForm.get('repetirContrasena')?.errors?.['required']"
                                                class="text-danger mt-1">Repetir contraseña es obligatorio.</small>
                                        </div>
                                    </div>
                                    <div class="mt-4 text-center">
                                        <button type="button" class="btn btn-primary mt-4 b-cust" (click)="registrarUsuario()">Registrar usuario</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
